.leave{
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    color: #FF9900;
    display: flex;
    gap: 1.6em;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    padding-bottom: 110px;
    cursor: pointer;
}