.login-btn {
  a {
    div {
      display: flex;
      align-items: center;
      p {
        margin: 0 !important;
        font-family: "Syncopate Cyr" !important;
        font-size: 13px !important;
      }
    }
  }
}
