@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('../../static/index.scss');

.subscription {
  position: relative;
  width: 100%;
  display: flex;  
  justify-content: center;  
  background-color: white;  
  font-family: "Montserrat", sans-serif;

  &__left, &__right {
    position: absolute; 
    top: 0;
    width: 35em; 
    height: 60em; 
    z-index: 1;

    img { 
      height: 100%; 
      width: 100%;
      object-fit: cover; 
      display: block; 
    }
  }

  &__left {
    left: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(8, 3, 90, 0.9));
      z-index: 0;
    }
  }

  &__right {
    right: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(8, 3, 90, 0.9));
      z-index: 0;
    }
  }

  &__block {
    position: absolute;  
    background-color: #fff;
    left: 22em;
    z-index: 2; 
    width: 73em;
    height: 60em; 
    border-radius: 35px;

    &__header {
      display: flex;
      margin-top: 80px;
      margin-left: 75px;

      h1 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 40px;
        color: #08035A;
      }

      p {
        margin-left: 593px;
        margin-top: 10px;
        cursor: pointer;

        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 25px;
        color: #ACACAC;
      }
    }

    &__text {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 25px;
      color: #ACACAC;

      margin-top: 30px;
      margin-left: 75px;
      margin-bottom: 5%;
    }

    &__tickets {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
      margin: 0 68px;
      gap: 75px;
      padding: 20px 0;
      cursor: grab;
      scrollbar-width: none;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
          display: none;
      }

      &:active {
        cursor: grabbing;
      }

      > div {
        flex: 0 0 auto;
        width: calc(100% / 3 - 50px); 
      }
    }

    &__indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;

      &__background {
        width: 71px;
        height: 9px;
        background-color: #C4C4C4;
        position: relative;
        border-radius: 6px;
      }

      &__active {
        width: 44px;
        height: 9px;
        background-color: #150BF3;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
        transition: transform 0.3s ease;
      }
    }

    &__note {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 20px;
      color: #ACACAC;
      text-align: center;
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      margin-left: 6%;
    }
  }
}
