@import "../../static/index.scss";

.bigcardno {
    flex: 0 0 auto;
    border-radius: 55px;
    overflow: hidden;
    width: 1132px;
    height: 628px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .gradient {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at right top, rgba(255, 255, 255, 0) 40%, #150BF3 100%);
        z-index: 1;
    }

    &__content{
        display: flex ;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 5%;
        padding-bottom: 5%;
        height: 89%;
        gap: 30px;

        h1{
            color: #FFFFFF;
            font-family: $fontMont;
            font-size: 115px;
            font-weight: 450;
        }
    
        p{
            color: #FFFFFF;
            font-family: $fontMont;
            font-size: 37px;
            font-weight: 400;
            font-style: italic;
        }
    }
}