.progressIndicator {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .progressItem {
    width: 11px;
    height: 9px;
    margin: 0 2px;
    background-color: #AEAEAE;
    border-radius: 100px;
    transition: all 0.5s ease;
  
    &.active {
      width: 44px;
      height: 9px;
      background-color: #150BF3;
    }
  }