@import "../../../../static/index.scss";

.popular {
    background-color: #060259;
    padding: 20px;
    position: relative;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        h1 {
            font-family: $fontMont;
            color: #FFFFFF;
            font-size: 55px;
        }

        p {
            font-family: $fontMont;
            color: #FFFFFF;
            font-size: 25px;
        }
    }

    &__cards {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding: 20px 0;
        cursor: grab;
        position: relative;
    }

    &__cards:active {
        cursor: grabbing;
    }

    .hint {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 76px;
        z-index: 1;

        .hintElement {
            width: 10px;
            height: 10px;
            background-color: #FFFFFF;
            border-radius: 50%;
            animation: bounce 1s infinite alternate;
        }
    }

    @keyframes bounce {
        to {
            transform: translateX(10px);
        }
    }
}
