@import "../../static/index.scss";

.onlyOne {
    background-color: #F5F5F5;
}


.subscription {
    background-color: #060259;
}


.popular {
    background-color: #060259;
}


.footer {
    background-color: #060259;
}   