.showmore-button {
    background: #0C0C0C;
    display: block;
    margin: 0 auto;
    color: #FF9900;
    font-family: Syncopate Cyr;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #F90;
    border-radius: 20px;
    padding: 20px 30px;
    cursor: pointer;
  }